<% provide(:title, @project.project_name) %>
<% if flash[:danger].present? %>
  <div class="alert alert-danger">
    <%= flash[:danger] %>
  </div>
<% end %>
<div class="project-description-section" data-project-id="<%= @project.id %>" >
  <div class="project-description-section-heading">
    <div class="project-title">
      <h1>
        <%= @project.project_name %>
      </h1>
    </div>
    <%= form_with(model: @project, local:true, html: { id: 'project-title-form', style: 'display: none;'}) do |f| %>
      <%= f.text_field :project_name, class: 'project-name-description-edit-input' %>
    <% end %>
  </div>

  <%= render 'shared/new_task_form', task: @new_task %>
  <ul class="todo-lists">
  <% @tasks.each do |saved_task| %>
    <%= render 'single_task_item', task: saved_task %>
  <% end %>
  </ul>
</div>