<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> 
      <%= link_to "TO-DOOOOO", root_path, class: "todo-app-title" %>
    </h1>
    <div class="body-section">
    <div class="projects-listing-section">
      <h2>Projects</h2>
      <%= render 'shared/project_sidebar' %>
    </div>
      <%= yield %>
  </body>
</html>
